body {
    font-family: 'Fira Sans', sans-serif;
    background: linear-gradient(57.4deg, rgb(249, 206, 183) 4.6%, rgb(234, 174, 202) 26%, rgb(210, 182, 226) 49.1%, rgb(173, 209, 242) 86.5%);
    background-repeat: no-repeat;
    background-size: cover; /* added this */
    background-position: center; /* added this */
    height: 100vh; /* added this */
}


ul {
    margin:0;
    padding:0;
}

h1{
    color:#253b4f;
}

li {
    list-style: none;
    color:#253b4f;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    line-height: 25px;
    padding: 0;
    margin:0;
    text-transform: capitalize;
}
.form-control {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.weather-app{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px none #773F7D;
    border-radius: 15px;
    background-image: url("https://i.pinimg.com/originals/81/8e/39/818e39fcc2cb173fa779a71d3f3b338b.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

 .city{
    color: #1E3C65;
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #065758;
    font-size: 64px;
    font-weight: 400px;
    height: auto;
    line-height: 1;
    text-align: left;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.btn{
    border: none;
    background-color: rgb(119, 63, 125);
    color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25); /* Have added a shadow */
    transition: all 0.3s ease; /* This makes the hover transition smooth */
}

.btn:hover {
   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
   transform: scale(1.05); 
   background-color: #B45094; 
   color: #fff;
   
}

.weather-temperature .active {
    color: #1E3C65;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover{
    text-decoration: none;
}
.weather-forecast{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#fff;
    border: 2px none rgba(37, 59, 79, 0.3);
    border-radius: 17px;
    background-color: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    

    
}
.weather-forecast-date {
    font-size: 20px;
    opacity: 0.7;

}
.weather-forecast-temp-min {
   opacity: 0.7;
}
.weather-forecast-temperature{
    font-size: 15px;

}