body {
    font-family: 'Fira Sans', sans-serif;
}

ul {
    margin:0;
    padding:0;
}

h1{
    color:#253b4f;
}

li {
    list-style: none;
    color:#253b4f;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    line-height: 25px;
    padding: 0;
    margin:0;
    text-transform: capitalize;
}

.weather-app{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #773F7D;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/originals/81/8e/39/818e39fcc2cb173fa779a71d3f3b338b.jpg");
    background-size: cover;

}

 .city{
    color: #1E3C65;
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #065758;
    font-size: 64px;
    font-weight: 400px;
    height: auto;
    line-height: 1;
    text-align: left;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.btn{
    border: none;
    background-color: rgb(119, 63, 125);
    color: #fff;
}

.weather-temperature .active {
    color: #1E3C65;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover{
    text-decoration: none;
}
.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color:rgb(40, 70, 109);
    
}
.weather-forecast-date {
    font-size: 18px;
    opacity: 0.7;
}
.weather-forecast-temp-min {
   opacity: 0.7;
}
.weather-forecast-temperature{
    font-size: 14px;

}


